<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cristina.mimundovisual">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFGKOTLIN"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="33" >
    <activity
        android:name=".EditarPerfilActivity"
        android:exported="false" />
    <activity
        android:name=".ReportesActivity"
        android:exported="false" />
    <activity
        android:name=".FelicidadActivity"
        android:exported="false" />
    <activity
        android:name=".IniciacionActivity"
        android:exported="false" />
    <activity
        android:name=".DetalleTareaTuteladoActivity"
        android:exported="false" />
    <activity
        android:name=".DetalleTareaTutorActivity"
        android:exported="false" />
    <activity
        android:name=".CrearTareaActivity"
        android:exported="false" />
    <activity
        android:name=".ClaveTutorActivity"
        android:exported="false" />
    <activity
        android:name=".MenuTutorActivity"
        android:exported="false" />

    <activity
        android:name=".SeleccionarPerfilActivity"
        android:exported="false" />
    <activity
        android:name=".IdentificacionActivity"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity
        android:name=".MenuHijoActivity"
        android:exported="false">

    </activity>
    <receiver android:name=".MyAlarm" />
        <service
            android:name=".AlarmasForegroundService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>